* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-family: "Sora", sans-serif;
}
/* =======Phan Chung======= */
.container {
  width: 1170px;
  margin: 0 auto; /*Canh deu giua*/
  max-width: calc(100% - 48px); /*logo và btn luôn cách lề 24px*/
}
a {
  text-decoration: none; /*Bỏ gạch chân cho link*/
}

.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  border-radius: 999px;
  background: #2e80ce;

  color: #fff;
  text-align: center;
  font-family: Sora;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.btn:hover {
  opacity: 0.8;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.section-desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

.control {
  display: flex;
  column-gap: 18px;
  align-items: center;
}
.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #575f66;
  background: #fff;
  cursor: pointer;
  transition: 0.25s;
}
.control__btn:hover {
  background-color: #2e80ce;
  border-color: #2e80ce;
  color: #fff;
}

.control-icon--next {
  /* quay lai chieu cua mui ten */
  rotate: 180deg;
}

/* ==============================================Header====================== */
.header {
  background: var(--header-bg);
  min-height: 100vh; /* Đổ nền 100% khung nhìn*/
  padding-top: 30px; /* Bằng khoảng cách của btn sign Up*/
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__action--LogIn:hover,
.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}
.navbar__link--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  right: 8px;
  position: relative;
  bottom: 2px;
}

.header__action--LogIn,
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.navbar__list {
  display: flex;
}

.header__action--LogUp {
  min-width: 144px;
  line-height: 44px;
  font-size: 1.6rem;
}

.header__action--LogIn {
  margin-right: 7px;
}
/* ==========hero=============== */
.hero {
  display: flex;
  align-items: center;
  padding-top: 76px;
}
.hero__content {
  width: 44%;
}
.hero__media {
  /* cho chiếm hết phần không gian còn lại */
  flex: 1;
}
.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -0.0875rem;
}
.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  column-gap: 38px;
}
.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  display: flex;
  object-fit: cover;
}
.hero__img--large {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  margin-right: -6px;
  z-index: 1;
}
.hero__img--small {
  width: 210px;
  height: 410px;
  border-radius: 6px;
}

/* ====Phan service==== */
.service {
  padding: 170px 0;
  /* background: yellowgreen; */
  background: #ffffff;
}

.section-heading,
.section-desc {
  text-align: center;
}

.section-desc {
  width: 468px;
  margin: 18px auto 0;
}

.service__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}
.service-item {
  padding: 21px;
  display: flex;
  width: 470px;
  border-radius: 10px;
  background: #fff;
  transition: 0.55s;
}
.service-item:hover {
  position: relative; /* cho nen nam tren*/
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}

/* Tac dong len khi re chuot vao */
.service-item:hover .service-item__icon {
  background: #2e80ce;
  color: #ffffff;
}

.service-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; /* khac phuc bij meo nen*/
  margin-right: 19px;
  transition: 0.55s;
}

.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}

.service-item__desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.service__btn {
  margin-top: 55px;
}

/* ========= Phan Work ======== */
.work {
  /* background: #c6d5e0; */
  background: #f6fbff;
  padding: 6.25rem 0 7.25rem;
}

.work__desc {
  margin-top: 1.12em;
  width: 50rem;
  color: #575f66;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

.work__list {
  margin-top: 4.73rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.work__heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.work-item {
  padding: 43px;
  border-radius: 4px;
  background: #ffffff;
  border: 16px solid #eaf6ff;
}

.work-item:hover {
  /* border: 16px solid #2e80ce; */
  border-color: #2e80ce;
  transition: 0.25s;
  transform: translateY(-16px);
}

.work-item__heading {
  margin-top: 1.13rem;
  color: #10375c;
  font-size: 2.625rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}

.work-item__desc {
  margin-top: 1.75rem;
  color: #575f66;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.work-item__more {
  margin-top: 1.12rem;
  /* vi day la the a nen phai dung  display: inline-block; moi su dung margin-top*/
  display: inline-block;

  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.work-item:hover .work-item__more {
  color: #2e80ce;
  font-size: 1.8rem;
  font-weight: 400;
}

/* ===========================================phan About ========================== */
.about {
  margin-top: 85px;
  padding: 85px 0 206px;
  /* background: cyan; */
}
.about-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__media {
  width: 41%;
}
.about-content {
  /* width: 51%; */
  /* nhung thuc te khoi chua chi co 40 % */
  width: 40%;
}
.about__img {
  position: relative;
}
.about__img--big {
  display: flex;
  object-fit: cover;
  width: 512px;
  height: 370px;
  border-radius: 6px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}
.about__img--small {
  /* dat vi tri anh no: lop cha = relative => con = absolute + vi tri */
  position: absolute;
  left: 238px;
  top: 121px;

  object-fit: cover;
  width: 332px;
  height: 370px;
  border-radius: 6px;
}
.about-content__btn {
  margin-top: 38px;
}
.section-heading,
.section-desc {
  text-align: left;
}
/* ===========================================phan Team ========================== */
.team {
  padding: 85px 0;
}
.team-header {
  text-align: center;
  margin: 0 auto;
}
.team__cta {
  margin-top: 38px;
}
.section-heading {
  text-align: center;
}
.team__list {
  margin-top: 70px;
  column-gap: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.team-item:hover .team-item__thumb {
  transform: scale(1.1);
}
.team-item__thumb {
  height: 290px;
  max-width: 100%;
  object-fit: cover;
  /* anh ko trong hoan toan khung => inlineblock => block */
  display: block;
  transition: 0.5s;
}
.team-item__img-bg {
  border-radius: 6px;
  background: #eaf6ff;
  padding-top: 28px;
  overflow: hidden;
}
.team-item__name {
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-family: Sora;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}
.team-item__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86; /* 185.714% */
}

.team__control {
  margin-top: 38px;
  justify-content: center;
}

/* ================================Install Mobile ========================== */
.install__inner {
  /* khoảng cách các khoi: tren 180px, trai phai 0, duoi 85px */
  margin: 180px 0px 85px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* trên duoi = 0, trai phai 70px */
  padding: 0 70px;

  height: 427px;
  border-radius: 4px;
  background: #2e80ce;
}

.install__img {
  position: absolute;
  bottom: 0px;

  width: 284px;
  height: 522px;
  object-fit: cover;
}
.install__content {
  min-width: 586px;
}

.install__heading {
  text-align: left;
  color: #fff;
  max-width: 489px;
}
.install__desc {
  margin-top: 18px;
  max-width: 586px;
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
.install__row {
  margin-top: 38px;
  display: flex;
  gap: 18px;
  align-items: center;
}

/* ============ Blog================ */
.blog {
  padding: 85px 0;
  /* background: cyan; */
  background: #fff;
}
.blog__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__content {
  max-width: 40%;
}
.blog__heading {
  max-width: 470px;
  text-align: left;
}
.blog__more {
  margin-top: 28px;
  /* vì là thẻ a nên cần đưa về inline-block */
  display: inline-block;
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.56; /* 155.556% */
  text-decoration-line: underline;
  text-underline-offset: 4px;
}
.blog__control {
  margin-top: 28px;
  justify-content: flex-start;
}
.blog__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.blog-item {
  max-width: 270px;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
  overflow: hidden;
  transition: 0.2s;
}
.blog-item:hover .blog-item__thumb {
  transform: scale(1.2);
}

.blog-item:hover {
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
  border-color: transparent;
}

.blog-item__thumb {
  max-width: 270px;
  border-radius: 0.75rem 0.75rem 0rem 0rem;
  object-fit: cover;
  transition: 0.5s;
}

.blog-item__wrap {
  height: 172px;
  overflow: hidden;
}
.blog-item__body {
  padding: 18px 22px;
}
.blog-item__heading {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.62; /* 162.5% */
}
.blog-item__desc {
  margin-top: 10px;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.72; /* 171.429% */
}
.blog-item__more {
  margin-top: 12px;
  display: inline-block;
  color: #10375c;
  font-size: 1.4rem;
  font-weight: 400;
}
.blog-item__more:hover {
  color: #2e80ce;
}
/* ============= Appointment ================ */
.appointment {
  margin: 85px 0;
}
.appointment__inner {
  /* width: 1170px; */
  /* height: 452px; */
  /* flex-shrink: 0; */
  padding: 100px 178px;
  background: #f6fbff;
  text-align: center;
}
.appointment__heading::after {
  content: "";
  display: block;
  width: 136px;
  height: 2px;
  background: #2e80ce;
  margin: 18px auto 0;
}
.appointment__desc {
  margin: 18px auto 0;
  max-width: 617px;
}
.appointment__btn {
  margin-top: 38px;
}
